header {
    background-color: #4B0082;
}
#logo{
width: 100px;
  height: 100px;
}
#logotxt{
color:#E6E6FA;}
#navigation{
margin: 0;
padding: 0;
background-color:#9370DB;}
#nch{background-color:#00b3ff;}
#ch{background-color:#0070a1}
main{
background-color:#15ed5d;}
form{ order:0;background-color:#008f30;}
table{ order:1;}
footer{background-color:#4B0082;color:#E6E6FA;}
